{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row mt-5">

            <div style='margin-top:20px;'>

                <form name="filterFreeFloat" method="post">
                    <input type="hidden" name="setFilter" value="Y">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="currency">Фильтр:</label>
                            <select name="cur_id" class="form-control">
                                <option value="0">Выберите валюту</option>
                                {% for cur in currency %}
                                    <option {% if cur.id == filter.cur_id %}selected{% endif %} value="{{ cur.id }}">{{ cur.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="year">Год:</label>
                            <select id="year" name="year" class="form-control">
                                <option value="0">Все</option>
                                <option {% if filter.year == 2017 %}selected{% endif %} value="2017">2017</option>
                                <option {% if filter.year == 2018 %}selected{% endif %} value="2018">2018</option>
                                <option {% if filter.year == 2019 %}selected{% endif %} value="2019">2019</option>
                                <option {% if filter.year == 2020 %}selected{% endif %} value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">

                            <label for="quarter">Квартал:</label>
                            <select id="quarter" name="quarter" class="form-control">
                                <option value="0">Все</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </div>
                    </div>

                </form>

                <table class="table table-striped table-bordered table-hover pb-100">
                    <thead class="thead-inverse">
                    <tr>
                        <th width="25%">Currency</th>
                        <th width="25%">Year</th>
                        <th width="25%">Quarter</th>
                        <th width="25%">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ff in freeFloats %}
                        <tr>
                            <th scope="row">{{ ff.curName }}</th>
                            <td>{{ ff.year }}</td>
                            <td>{{ ff.quarter }}</td>
                            <td>{{ ff.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

        <div class="row" style='margin:20px 0;'>
            <a href="/freeFloat/add/">Добавить Free Float</a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}